.transactionHistory {
  width: 600px;
  margin: 30px auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  text-align: center;
}

.transactionHistory thead {
  background-color: #2e2e2e;
  color: white;
  font-weight: bold;
}

.transactionHistory th,
.transactionHistory td {
  border: 1px solid #000;
  padding: 12px;
}

.transactionHistory tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.transactionHistory tbody tr:nth-child(even) {
  background-color: #e5e5e5;
}

.type {
  font-weight: 500;
}
